* {
	box-sizing: border-box;
	color: #000;
	font-family: Lato, Arial, Helvetica, sans-serif;
	font-size: 16px;
}

div,
button {
	color: #fff;
}

#notification {
	padding: 20px;
}

.btn {
	background-color: #cc4e00;
	padding: 20px;
}

.btn:disabled {
	cursor: not-allowed;
	opacity: 0.6;
}

.control-container {
	display: flex;
	padding: 20px;
}

.control-input {
	padding: 10px 10px 10px 0px;
}

.control-label {
	margin-bottom: 20px;
}

.error {
	background-color: #ff0000;
}

.success {
	background-color: #cc4e00;
}

.wrapper {
	align-items: center;
	background: #ede0c2;
	display: flex;
	flex-direction: column;
	height: 100vh;
}
